.footerBackgroundColor {
    background-color: #FAFBFC;
}


.footerTitle {
    font-size: 12px;
    text-decoration: none;
    color: #282c3f;
}

@media (max-width: 576px) {
    .footerTitle {
        font-size: 10px;
      
    }
  }

.footerLink {
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}

  @media (max-width: 576px) {
    .footerLink {
        font-size: 10px;
    }
  }